.DS_Store
node_modules
.svelte-kit
.husky
build
/package
/buzzing/data
.env
.env.development
localhost.pem
localhost-key.pem
localhost.js
localhost-key.js
jwt.key
jwt.key.pub
debugLogs.json
.eslintcache
.vercel